/* * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    vertical-align: middle;
} */

#sigmaContainer {
    min-height: calc(100vh - 56px);
    width: 100%;
}

.full-width-container {
    margin-left: 15px;
    margin-right: 15px;
}

.list-group {
    overflow-y: scroll;

}

.selectedRouteInstructionList {
    max-height: 160px;
}

/* #topMenu {
    top: 10px;
    left: 10px;
    position: fixed;
    border-collapse: collapse;

} */

/* button {
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    font-size: large;

}

#settings {
    border: 1px solid black;
    padding: 8px;
    background-color: white;
}

td {
    padding-right: 4px;

} */